<ion-header>
  <ion-toolbar>
    <ion-title>Admin Panel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding admin-panel-page">
  <ion-card *ngFor="let user of users">
    <ion-card-header>
      <ion-card-title>{{ user.email }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>User Type:</strong> {{ user.userType }}</p>
      <p><strong>Status:</strong> {{ user.status }}</p>
      <p *ngIf="user.userType === 'sp'"><strong>Name:</strong> {{ user.name }} {{ user.surname }}</p>
      <p *ngIf="user.userType === 'sp'"><strong>Phone Number:</strong> {{ user.phoneNumber }}</p>
      <p *ngIf="user.userType === 'sp'"><strong>Location:</strong> {{ user.location }}</p>
      <p *ngIf="user.userType === 'sp'"><strong>Services:</strong> {{ user.services }}</p>
      <p *ngIf="user.userType === 'bm'"><strong>Building Name:</strong> {{ user.buildingName }}</p>
      <p *ngIf="user.userType === 'bm'"><strong>Building Type:</strong> {{ user.buildingType }}</p>
      <p *ngIf="user.userType === 'bm'"><strong>Location:</strong> {{ user.location }}</p>
      <p *ngIf="user.userType === 'bm'"><strong>Manager Name:</strong> {{ user.name }}</p>
      <p *ngIf="user.userType === 'bm'"><strong>Manager Phone Number:</strong> {{ user.phoneNumber }}</p>

      <ion-label>Change Status</ion-label>
      <ion-select [(ngModel)]="user.status" (ionChange)="changeUserStatus(user)">
        <ion-select-option value="approved">Approve</ion-select-option>
        <ion-select-option value="blocked">Block</ion-select-option>
        <ion-select-option value="suspended">Suspend</ion-select-option>
      </ion-select>

      <ion-item>
        <ion-label>Images</ion-label>
        <ion-button (click)="viewImages(user.imageUrls)">View Images</ion-button>
      </ion-item>

      <ion-item>
        <ion-label>Documents</ion-label>
        <ion-button (click)="viewDocuments(user.documentUrls)">View Documents</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Modal for images -->
  <ion-modal [isOpen]="isImageModalOpen" (ionModalDidDismiss)="closeModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Images</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-slides pager="true">
          <ion-slide *ngFor="let file of currentFiles">
            <ion-img [src]="file" class="image-preview"></ion-img>
          </ion-slide>
        </ion-slides>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Modal for documents -->
  <ion-modal [isOpen]="isDocumentModalOpen" (ionModalDidDismiss)="closeModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Documents</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let file of currentFiles">
            <ion-label>
              <a [href]="file" target="_blank">View Document</a>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
